<div layout-fill layout="row" layout-align="center center" class="login">
	<form name="cadastroForm">
		<md-input-container layout="row">
			<label>Username</label>
	    	<input ng-model="user.username" type="text" required>
		</md-input-container>
		<md-input-container layout="row">
			<label>Senha</label>
	    	<input ng-model="user.senha" type="password" required>
		</md-input-container>
		<md-input-container layout="row">
			<label>Repetir Senha</label>
	    	<input ng-model="user.senha2" type="password" required>
		</md-input-container>
		<div layout="row" layout-align="center center">
			<md-button type="submit" ng-click="cadastroForm.$valid && cadastro(user)">Cadastrar</md-button>
			<md-button ng-href="{{login}}">Já Possuo Cadastro</md-button>
		</div>
	</form>
</div>